.page-enter-active,
.page-leave-active {
    transition: opacity .3s ease, transform .3s ease;
}

.page-enter-from,
.page-leave-active {
    opacity: 0;
    transform: translate3d(0, -8px, 0);
    transition: opacity .3s ease .2s, transform .3s ease .2s;
}

.page-enter-from {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
}
