/**
** Grid
 */
$unit: 4px;
$col: mul($unit, 10);
$color: red;

/*
** Breakpoints
*/

$breakpoints: (
    mobile: 576px,
    tablet: 1112px,
    laptop: 1440px,
    desktop: 1920px,
    desktop-l: 7680px,
);
